#contact-container {
    width: 100%;
    justify-content: space-evenly;
}

#contact-title {
    margin-bottom: 1%;
}

@media only screen and (max-width: 800px) {
    #contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}