#full-screen {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 85%;
  background-color: rgb(245, 245, 245);
  z-index: 12;
  border-radius: 10px;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
  justify-content: flex-start;
  transition: opacity 0.5s;
}

#full-screen--invisible {
  opacity: 0;
  pointer-events: none; /* Makes the modal unclickable */
}

#full-screen--visible {
  opacity: 1; /* Modal is visible */
  pointer-events: initial; /* Modal is clickable */
}

#fullscreen-title {
  margin-top: 3%;
  margin-bottom: 0px;
  font-size: 40px;
  transition: color 0.4s ease;
}

#fullscreen-date {
  font-size: 0.95rem;
  color: #666;
  margin-top: 0px;
}

#fullscreen-title:hover {
  color: #bf5700;
}

#close-button {
  position: absolute;
  top: 1%;
  right: 0%;
  background-color: white;
  transition: background-color 0.4s;
}

#close-button:hover {
  background-color: #b4b4b4;
}

#fullscreen-icon {
  margin-top: 2%;
  width: 200px;
  height: 200px;
  padding: 0px;
  margin-top: 2%;
  margin-bottom: 2%;
}

#fullscreen-desc {
  margin-left: 3%;
  margin-right: 3%;
  font-size: 20px;
}

#icon-tech-container {
  margin-top: 2%;
  gap: 5%;
  width: 70%;
}

#tech {
  margin-bottom: 0%;
  text-align: left;
  text-decoration: underline;
}

#software {
  margin-top: 1%;
  padding-left: 20px;
}

#bullets {
  text-align: left;
}
