#pfp {
    width: 30%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
    margin: 10px;
}

#name {
    transition: color 0.4s ease;
}

#bio {
    padding: 1%;
}

#name:hover {
    color: #BF5700;
}

@media only screen and (max-width: 800px) {
    #pfp {
        width: 20vw;
    }
}