#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 3%;
    border: 5px solid goldenrod;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#link, #method, #desc {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#desc {
    font-weight: normal;
    font-size: 15px;
}

#link {
    transition: background-color 0.4s ease;
}

.info-icon {
    width: 150px;
    margin-top: 4%;
    margin-bottom: 10px;
    border-radius: 50%;
}